<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- bOTON Atras-->
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="start" >
      <ion-menu-button auto-hide="true"></ion-menu-button>
    </ion-buttons>
    <ion-title class="textcenter" > Generar QR </ion-title>
  </ion-toolbar> 
</ion-header>

<ion-content >

  <ion-card class="ion-text-center">
    <ion-card-content>
      <qrcode [qrdata]="myAngularxQrCode" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
      <ion-label position="stacked">Valor del código QR:</ion-label>
      <ion-input type="text" [(ngModel)]="myAngularxQrCode"></ion-input>
    </ion-card-content>
  </ion-card>
</ion-content>