<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- BOTON MENU-->
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="true"></ion-menu-button>
    </ion-buttons>
    <!-- BOTON MENU-->
    <ion-title >Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<app-cartahome titulo="Bienvenido a RegistAPP." descripcion="Registra la asistencia de manera eficiente en DuocUC con nuestra app móvil: escanea QR y mejora el control de asistencia en tus clases."></app-cartahome>

</ion-content>
