<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- BOTON MENU-->
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="true"></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ "asignaturas" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <!-- Carta -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ "asignaturas" | translate }}</ion-card-title>

    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let aux of listaAsignaturas" [routerLink]="['/asignaturanotcrud/detallenotcrud', aux.id]">
          <ion-label>
            <h2>{{ aux.nombre }}</h2>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>