<ion-card>
  <ion-card-header class="header-container">
    <img alt="LOGODUC"
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/aa/Logo_DuocUC.svg/2560px-Logo_DuocUC.svg.png" />
    
    <div class="title-container">
      <ion-card-title>{{titulo}}</ion-card-title>
      <img alt="REGISAPP"
        src="https://cdn.discordapp.com/attachments/488541948232073229/1147332958051639336/5ef65fad-d727-40ee-89d8-950e0ddece5d-removebg-preview.png" class="small-logo" />
    </div>
  </ion-card-header>

  <ion-card-content>
    {{descripcion}}
  </ion-card-content>
  <img alt="duocedificio" src="https://cdn.discordapp.com/attachments/1147286239997853696/1148473451494002738/WTKZS5Dg_400x400.png" />
</ion-card>
