<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-menu-button auto-hide="true"></ion-menu-button>
    </ion-buttons>
    <ion-title class="textcenter">{{ "present" | translate }}</ion-title>
  </ion-toolbar>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <img src="https://media.taringa.net/knn/fit:550/Z3M6Ly9rbjMvdGFyaW5nYS8yLzYvNy81LzQvMy82MC92aXJnb2JhbmRhL0IyRS5qcGc">
      <ion-card-title>{{ "youre-present" | translate }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ "can-close" | translate }}
    </ion-card-content>
  </ion-card>
</ion-content>
